set nohlsearch
set nonumber
set autowrite     " Automatically :write before running commands

" toggle line numbering with Ctrl + N
nmap <C-N> : set invnumber<CR>
" toggle showing hidden characters
nmap <C-H> : set invlist<CR>


" Switch syntax highlighting on, when the terminal has colors
" " Also switch on highlighting the last used search pattern.
if &t_Co > 2 || has("gui_running")
  syntax on
  set hlsearch
  "set background=light
  "colorscheme solarized
endif


if has("autocmd")
  filetype plugin indent on
  autocmd FileType make set tabstop=8 shiftwidth=9 softtabstop=0 noexpandtab
else
  set smartindent
endif

" Make it obvious where 80 characters is
" set textwidth=80
set colorcolumn=+1


set tabstop=4
set shiftwidth=4
set softtabstop=4
set expandtab

" Display extra whitespace
" set list listchars=tab:»·,trail:·,nbsp:·

" Ignore compiled files
set wildignore=*.o,*~,*.pyc

" Show matching braces
set showmatch

" keep backups and swap files safe from prying eyes.
set directory=~/.tmp
set backupdir=~/.tmp
set undodir=~/.tmp

set showmode
nnoremap <F2> :set invpaste paste?<CR>
nnoremap <F3> :set invnumber number?<CR>
nnoremap <F4> :set invlist list?<CR>
nnoremap <F5> :set invspell spell?<CR>
